<!DOCTYPE html>
<html lang="en">
<head>
    <title>《阴阳师》手游官网_网易和风匠心巨制，开启唯美奇幻之旅</title>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="../../public/images/game_features/login.jpg"/>
    <link href="../../public/css/gamefeatures.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main_body">
    <header>
        <div class="header_top">
            <ul>
                <li><a href="" title="阴阳师官方首页"><em id="emshow"></em><span class="span1 title1"></span></a> </li>
                <li><a href="" title="阴阳师新闻资讯"><em></em><span class="span2 title"></span></a> </li>
                <li><a href="" title="阴阳师游戏特色"><em></em><span class="span3 title"></span></a> </li>
                <li><a href="" title="阴阳师攻略"><em></em><span class="span4 title"></span></a> </li>
                <li><a href="" title="阴阳师同人专区"><em></em><span class="span5 title"></span></a> </li>
                <li><a id="header_a" href="" title="阴阳师游戏论坛"><em></em><span class="span6 title"></span></a> </li>
            </ul>

            <div id="gfl">
                <span class="gf1">关注《阴阳师》</span>
                <a class="qq" href="">
                    <div class="gf_qq">
                        <h3>官方QQ群：</h3>
                        <p>204422345（1群已满）</p>
                        <p>540687051（2群已满）</p>
                        <p>546653739（3群）</p>
                        <p>546027375（4群）</p>
                        <p>344590267（5群）</p>
                    </div>
                </a>
                <a class="wx" href="">
                    <div class="gf_wx">
                        <img alt="微信公众号" src="../../public/images/game_features/wx_22dea84.jpg">
                        <div class="rwm">
                            <strong>yinyangshi163</strong>
                            <p>左侧扫描二维码<br>关注公众号</p>
                        </div>
                    </div>
                </a>
                <a class="wb" href=""></a>
                <a class="tieb" href=""></a>
            </div>
        </div>
    </header>
    <div class="one_body">
        <div class="door1 door"></div>
        <div class="door2 door"></div>
        <div class="person"></div>
        <div class="cloud1"></div>
        <div class="flowers1"></div>
        <div class="flowers2"></div>
        <a class="logo" href="" title="阴阳师官网"></a>
        <div class="tu_pian">
            <a href="javascript:void(0);"><em class="em_big"></em><span class="sp_big"></span></a>
        </div>
        <div class="download">
            <div class="ewm_download">
                <span></span>
            </div>
            <a class="app_download"></a>
            <a class="az_download"></a>
        </div>
    </div>
    <div class="two_body">
        <h2></h2>
        <div class="jq_title">
            <span class="span_world"></span>
            <span class="span_zj"></span>
            <span class="span_wtj"></span>
        </div>
        <div class="jq_1">
            <div class="wd_left">
                <div class="wd_left_side">
                    <span class="wd_span"></span>
                    <a class="wd_a" href="javascript:void(0);">
                        <em class="em_big"></em>
                        <span class="sp_big"></span>
                    </a>
                </div>
                <div class="wd_left_text">
                    <p>绮丽唯美的平安时代，妖魅丛生。原本在阴界的妖怪与鬼灵，成为了人间的常客，并制造各种离奇骚乱。世界上有一类被称为“阴阳师”的异能者，能够画符念咒、役使鬼神，并与其建立契约收作式神。他们调和着人类与鬼怪的矛盾，维系两界的平衡与安稳。这其中的佼佼者，名叫晴明的你更是天赋异禀， 年纪轻轻便与众多强力式神缔结了契约......</p>
                </div>
            </div>
            <img class="wd_img" src="../../public/images/game_features/shijieguan_side_5fd10cd.png"  />
        </div>
        <div class="jq_2" style="display: none">
            <div class="zj_title">
                <span class="tit_zj active_zj">主角</span>
                <span class="tit_shishen">式神</span>
            </div>
            <div class="zj" >
                <div class="zj_con">
                    <img src="../../public/images/game_features/zj1_bd3470b.png" />
                    <div class="zj_name">
                        <span>安倍晴明</span>
                        <em></em>
                    </div>
                    <div class="zj_text text_zj1">
                        <p>平安时代强大的阴阳师，性格冷峻飘逸。拥有忠诚的守护式神——小白，并先后认识了神乐、源博雅和八百比丘尼等三位伙伴……</p>
                    </div>
                </div>
                <div class="zj_con">
                    <img src="../../public/images/game_features/zj2_4fa96e0.png" />
                    <div class="zj_name">
                        <span>神乐</span>
                        <em></em>
                    </div>
                    <div class="zj_text text_zj2">
                        <p>贺茂家族的后代，性格单纯善良，具备通灵能力，被晴明遇到带回庭院。</p>
                    </div>
                </div>
                <div class="zj_con">
                    <img src="../../public/images/game_features/zj3_8270df1.png" />
                    <div class="zj_name">
                        <span>源博雅</span>
                        <em></em>
                    </div>
                    <div class="zj_text text_zj3">
                        <p>平安时代贵族，是皇室之后，同时也是一名武士。性格孤傲爽直，善用大弓，其弓箭具有射杀妖怪之力。从小桀骜不驯，喜欢冒险与挑战。遇到晴明和神乐之后，便经常光顾庭院。</p>
                    </div>
                </div>
                <div class="zj_con">
                    <img src="../../public/images/game_features/zj4_a97686d.png" />
                    <div class="zj_name">
                        <span>八百比丘尼</span>
                        <em></em>
                    </div>
                    <div class="zj_text text_zj4">
                        <p>误食人鱼肉不老不死，已活了几百年的神秘巫师。占卜到晴明是命中注定可以帮助其解除诅咒之人，便居住在凤凰林中等待晴明，后来便一直留在庭院。</p>
                    </div>
                </div>
            </div>
            <div class="shishen" style="display: none">
                <div class="shishen_con">
                    <ul class="shishen_ul">
                        <li>
                            <img src="../../public/images/game_features/2.png" />
                            <div class="shijie_name">
                                <em></em>
                                <span>雨女</span>
                            </div>
                            <div class="shijie_text">
                                <h4>主要技能：</h4>
                                <a href=""><img src="../../public/images/game_features/2-1.png" />泪珠</a>
                                <a href=""><img src="../../public/images/game_features/2-2.png" />凌波微步</a>
                                <a href=""><img src="../../public/images/game_features/2-3.png" />黯然心伤</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../public/images/game_features/3.png" />
                            <div class="shijie_name">
                                <em></em>
                                <span>鬼女红叶</span>
                            </div>
                            <div class="shijie_text">
                                <h4>主要技能：</h4>
                                <a href=""><img src="../../public/images/game_features/3-1.png" />咒之红枫</a>
                                <a href=""><img src="../../public/images/game_features/3-2.png" />尸爆</a>
                                <a href=""><img src="../../public/images/game_features/3-3.png" />死亡之舞</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../public/images/game_features/4.png" />
                            <div class="shijie_name">
                                <em></em>
                                <span>食发鬼</span>
                            </div>
                            <div class="shijie_text">
                                <h4>主要技能：</h4>
                                <a href=""><img src="../../public/images/game_features/4-1.png" />发鞭</a>
                                <a href=""><img src="../../public/images/game_features/4-2.png" />如丝迷烟</a>
                                <a href=""><img src="../../public/images/game_features/4-3.png" />真实之颜</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../public/images/game_features/5.png" />
                            <div class="shijie_name">
                                <em></em>
                                <span>白狼</span>
                            </div>
                            <div class="shijie_text">
                                <h4>主要技能：</h4>
                                <a href=""><img src="../../public/images/game_features/5-1.png" />文射</a>
                                <a href=""><img src="../../public/images/game_features/5-2.png" />冥想</a>
                                <a href=""><img src="../../public/images/game_features/5-3.png" />射如流水</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../public/images/game_features/6.png" />
                            <div class="shijie_name">
                                <em></em>
                                <span>莹草</span>
                            </div>
                            <div class="shijie_text">
                                <h4>主要技能：</h4>
                                <a href=""><img src="../../public/images/game_features/6-1.png" />精气夺取</a>
                                <a href=""><img src="../../public/images/game_features/6-2.png" />朽木生花</a>
                                <a href=""><img src="../../public/images/game_features/6-3.png" />治愈之光</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../public/images/game_features/7.png" />
                            <div class="shijie_name">
                                <em></em>
                                <span>二口女</span>
                            </div>
                            <div class="shijie_text">
                                <h4>主要技能：</h4>
                                <a href=""><img src="../../public/images/game_features/7-1.png" />你好</a>
                                <a href=""><img src="../../public/images/game_features/7-2.png" />怕怕</a>
                                <a href=""><img src="../../public/images/game_features/7-3.png" />对不起</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../public/images/game_features/8.png" />
                            <div class="shijie_name">
                                <em></em>
                                <span>白无常</span>
                            </div>
                            <div class="shijie_text">
                                <h4>主要技能：</h4>
                                <a href=""><img src="../../public/images/game_features/8-1.png" />活死人</a>
                                <a href=""><img src="../../public/images/game_features/8-2.png" />魂狩</a>
                                <a href=""><img src="../../public/images/game_features/8-3.png" />无常夺命</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../public/images/game_features/9.png" />
                            <div class="shijie_name">
                                <em></em>
                                <span>黑无常</span>
                            </div>
                            <div class="shijie_text">
                                <h4>主要技能：</h4>
                                <a href=""><img src="../../public/images/game_features/9-1.png" />惩戒</a>
                                <a href=""><img src="../../public/images/game_features/9-2.png" />追缉</a>
                                <a href=""><img src="../../public/images/game_features/9-3.png" />死亡宣判</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../public/images/game_features/10.png" />
                            <div class="shijie_name">
                                <em></em>
                                <span>雪女</span>
                            </div>
                            <div class="shijie_text">
                                <h4>主要技能：</h4>
                                <a href=""><img src="../../public/images/game_features/10-1.png" />雪球</a>
                                <a href=""><img src="../../public/images/game_features/10-2.png" />冰甲术</a>
                                <a href=""><img src="../../public/images/game_features/10-3.png" />暴风雪</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../public/images/game_features/11.png" />
                            <div class="shijie_name">
                                <em></em>
                                <span>座敷童子</span>
                            </div>
                            <div class="shijie_text">
                                <h4>主要技能：</h4>
                                <a href=""><img src="../../public/images/game_features/11-1.png" />机巧</a>
                                <a href=""><img src="../../public/images/game_features/11-2.png" />福运昌隆</a>
                                <a href=""><img src="../../public/images/game_features/11-3.png" />祸福相生</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../public/images/game_features/12.png" />
                            <div class="shijie_name">
                                <em></em>
                                <span>九命猫</span>
                            </div>
                            <div class="shijie_text">
                                <h4>主要技能：</h4>
                                <a href=""><img src="../../public/images/game_features/12-1.png" />猫爪</a>
                                <a href=""><img src="../../public/images/game_features/12-2.png" />九命</a>
                                <a href=""><img src="../../public/images/game_features/12-3.png" />寻仇</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="shishem_tit">
                    <span class="shishem_tit_span1"></span>
                    <ul class="shishem_tit_ul">
                        <li class="shishem_tit_show" onMouseOver="show(1)"></li>
                        <li onMouseOver="show(2)"></li>
                        <li onMouseOver="show(3)"></li>
                        <li onMouseOver="show(4)"></li>
                        <li onMouseOver="show(5)"></li>
                        <li onMouseOver="show(6)"></li>
                        <li onMouseOver="show(7)"></li>
                        <li onMouseOver="show(8)"></li>
                    </ul>
                    <span class="shishem_tit_span2"></span>
                </div>
            </div>
        </div>
        <div class="jq_3" style="display: none">
            <div class="wtj_1">
                <a class="wtj_a" href="javascript:void(0);">
                    <em class="em_big"></em>
                    <span class="sp_big"></span>
                </a>
            </div>
            <div class="wtj_2">
                <a class="wtj_a" href="javascript:void(0);">
                    <em class="em_big"></em>
                    <span class="sp_big"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="three_body">
        <h2></h2>
        <div class="meishu_title">
            <span class="span_jietu"></span>
            <span class="span_yuanhua"></span>
            <span class="span_tongren"></span>
        </div>
        <div class="meishu_1">
            <div class="jietu_pic">
                <h3>游戏实景截图</h3>
                <div class="jietu_pic_con">
                    <div class="jietu_pic_img"></div>
                    <a href="javascript:void(0);"></a>
                </div>
            </div>
            <div class="jietu_tit">
                <span class="jietu_tit_prev"></span>
                <div class="jietu_tit_con">
                    <ul class="jietu_tit_ul">
                        <li><img class="jietu_tit_show" src="../../public/images/game_features/ms01_60.jpg"/> </li>
                        <li><img src="../../public/images/game_features/ms02_60.jpg"/> </li>
                        <li><img src="../../public/images/game_features/ms03_60.jpg"/> </li>
                        <li><img src="../../public/images/game_features/ms04_60.jpg"/> </li>
                        <li><img src="../../public/images/game_features/ms05_60.jpg"/> </li>
                        <li><img src="../../public/images/game_features/ms06_60.jpg"/> </li>
                        <li><img src="../../public/images/game_features/ms07_60.jpg"/> </li>
                        <li><img src="../../public/images/game_features/ms08_60.jpg"/> </li>
                        <li><img src="../../public/images/game_features/ms09_60.jpg"/> </li>
                        <li><img src="../../public/images/game_features/ms10_60.jpg"/> </li>
                    </ul>
                </div>
                <span class="jietu_tit_next"></span>
            </div>
            <div class="jietu_img">
                <img src="../../public/images/game_features/game_jietu_side_19518d7.png"  />
            </div>
        </div>
        <div style="display: none" class="meishu_2">
            <div class="yuanhua_text">
                <div class="yuanhua_box">
                    <div class="yuanhua_box_img"></div>
                    <a class="yuanhua_left" href="javascript:void(0);"></a>
                    <a class="yuanhua_right" href="javascript:void(0);"></a>
                </div>
            </div>
            <div class="yuanhua_tit">
                <span class="yuanhua_tit_prev"></span>
                <div class="yuanhua_tit_con">
                    <ul class="yuanhua_tit_ul">
                        <li><a href="javascript:void(0);" >
                                <b class="yuanhua_b1 yuanhua_b1_active"></b>
                            </a>
                            <span class="yuanhua_span1 yuanhua_span_active">黑夜山终</span>
                        </li>
                        <li><a href="javascript:void(0);" >
                                <b class="yuanhua_b2"></b>
                            </a>
                            <span class="yuanhua_span2">野外森林</span>
                        </li>
                        <li><a href="javascript:void(0);" >
                                <b class="yuanhua_b3"></b>
                            </a>
                            <span class="yuanhua_span3">雪月华庭</span>
                        </li>
                        <li><a href="javascript:void(0);" >
                                <b class="yuanhua_b4"></b>
                            </a>
                            <span class="yuanhua_span4">孔雀林</span>
                        </li>
                        <li><a href="javascript:void(0);" >
                                <b class="yuanhua_b5"></b>
                            </a>
                            <span class="yuanhua_span5">鲤鱼精池塘</span>
                        </li>
                        <li><a href="javascript:void(0);" >
                                <b class="yuanhua_b6"></b>
                            </a>
                            <span class="yuanhua_span6">桃花林</span>
                        </li>

                    </ul>
                </div>
                <span class="yuanhua_tit_next"></span>
            </div>
        </div>
        <div style="display: none" class="meishu_3">
            <div class="tr_title">
                <span class="tr_cos active_zj">cosplay</span>
                <span class="tr_trhui">同人绘</span>
            </div>
            <div class="cosplay">
                <div class="cosplay_left">
                    <div class="cos1">
                        <img src="../../public/images/game_features/b1.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                        </div>
                    </div>
                    <div class="cos2">
                        <img src="../../public/images/game_features/b8.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                        </div>
                    </div>
                </div>
                <div class="cosplay_right">
                    <div class="cos3">
                        <img src="../../public/images/game_features/b2.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                        </div>
                    </div>
                    <div class="cos4">
                        <img src="../../public/images/game_features/b3.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                        </div>
                    </div>
                    <div class="cos5">
                        <img src="../../public/images/game_features/b4.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                        </div>
                    </div>
                    <div class="cos6">
                        <img src="../../public/images/game_features/b5.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                        </div>
                    </div>
                    <div class="cos7">
                        <img src="../../public/images/game_features/b3.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                        </div>
                    </div>
                    <div class="cos8">
                        <img src="../../public/images/game_features/b7.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                        </div>
                    </div>
                    <div class="cos9">
                        <img src="../../public/images/game_features/b9.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                        </div>
                    </div>
                    <div class="cos10">
                        <img src="../../public/images/game_features/b10.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                        </div>
                    </div>
                    <div class="cos11">
                        <img src="../../public/images/game_features/b11.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                        </div>
                    </div>
                    <div class="cos12">
                        <img src="../../public/images/game_features/b12.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trhui" style="display: none">
                <div class="cosplay_left">
                    <div class="cos13">
                        <img src="../../public/images/game_features/a1.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                            <p>作者：老鼠夫斯基</p>
                        </div>
                    </div>
                    <div class="cos14">
                        <img src="../../public/images/game_features/a8.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                            <p>作者：of中国</p>
                        </div>
                    </div>
                </div>
                <div class="cosplay_right">
                    <div class="cos15">
                        <img src="../../public/images/game_features/a2.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                            <p>作者：of中国</p>
                        </div>
                    </div>
                    <div class="cos16">
                        <img src="../../public/images/game_features/a3.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                            <p>作者：Alili</p>
                        </div>
                    </div>
                    <div class="cos17">
                        <img src="../../public/images/game_features/a4.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                            <p>作者：茶紫</p>
                        </div>
                    </div>
                    <div class="cos18">
                        <img src="../../public/images/game_features/a5.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                            <p>作者：老鼠夫斯基</p>
                        </div>
                    </div>
                    <div class="cos19">
                        <img src="../../public/images/game_features/a6.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                            <p>作者：老鼠夫斯基</p>
                        </div>
                    </div>
                    <div class="cos20">
                        <img src="../../public/images/game_features/a7.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                            <p>作者：酒钺食肆</p>
                        </div>
                    </div>
                    <div class="cos21">
                        <img src="../../public/images/game_features/a9.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                            <p>作者：纳言</p>
                        </div>
                    </div>
                    <div class="cos22">
                        <img src="../../public/images/game_features/a10.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                            <p>作者：泥十七</p>
                        </div>
                    </div>
                    <div class="cos23">
                        <img src="../../public/images/game_features/a11.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                            <p>作者：泥十七</p>
                        </div>
                    </div>
                    <div class="cos24">
                        <img src="../../public/images/game_features/a12.jpg"/>
                        <div class="cos_hover">
                            <span></span>
                            <em></em>
                            <p>作者：学不会燕返的小次郎</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="four_body">
        <h2></h2>
        <div class="yinyue_title">
            <span class="span_shengyou"></span>
            <span class="span_zhenrong"></span>
            <span class="span_peiyue"></span>
        </div>
        <div class="yinyue_1">
             <div class="yinyue1_title">
                <span class="yinyue1_zj active_zj">主角</span>
                <span class="yinyue1_shishen">式神</span>
            </div>
            <div class="yinyue_zj">
                <div class="yy_zj">
                    <div class="yy_zj_con">
                        <img src="../../public/images/game_features/zj1_bd3470b.png"/>
                    </div>
                    <div class="yy_zj_text">
                        <h3>CV：杉山纪彰<em></em></h3>
                        <p>声音慵懒悠闲、同时穿透力强，辨识度高</p>
                    </div>
                </div>
                <div class="yy_zj">
                    <div class="yy_zj_con">
                        <img src="../../public/images/game_features/zj2_4fa96e0.png"/>
                    </div>
                    <div class="yy_zj_text">
                        <h3>CV：钉宫理惠<em></em></h3>
                        <p>音质特别，带有柔润质感，常配好强少女音</p>
                    </div>
                </div>
                <div class="yy_zj">
                    <div class="yy_zj_con">
                        <img src="../../public/images/game_features/zj3_8270df1.png"/>
                    </div>
                    <div class="yy_zj_text">
                        <h3>CV：铃木达央<em></em></h3>
                        <p>声线多变，演技娴熟，粉丝昵称其为“达子”</p>
                    </div>
                </div>
                <div class="yy_zj">
                    <div class="yy_zj_con">
                        <img src="../../public/images/game_features/zj4_a97686d.png"/>
                    </div>
                    <div class="yy_zj_text">
                        <h3>CV：泽城美雪<em></em></h3>
                        <p>声音成熟冷酷，能轻松驾驭高冷型御姐</p>
                    </div>
                </div>
            </div>
            <div class="yinyue_shishen" style="display: none">
                <div class="yy_shishen_con">
                    <div class="yy_zj">
                        <div class="yy_zj_con">
                            <img src="../../public/images/game_features/cv1.png"/>
                        </div>
                        <div class="yy_zj_text">
                            <h3>CV：石田彰<em></em></h3>
                            <p>声音极具磁性，桀骜不羁</p>
                        </div>
                    </div>
                    <div class="yy_zj">
                        <div class="yy_zj_con">
                            <img src="../../public/images/game_features/cv2.png"/>
                        </div>
                        <div class="yy_zj_text">
                            <h3>CV：井上麻里奈<em></em></h3>
                            <p>声线优雅的成熟女音，具有充沛的感情</p>
                        </div>
                    </div>
                    <div class="yy_zj">
                        <div class="yy_zj_con">
                            <img src="../../public/images/game_features/cv3.png"/>
                        </div>
                        <div class="yy_zj_text">
                            <h3>CV：能登麻美子<em></em></h3>
                            <p>拥有丝丝细语的声线，多配神秘、弱气或冷静的少女角色</p>
                        </div>
                    </div>
                    <div class="yy_zj">
                        <div class="yy_zj_con">
                            <img src="../../public/images/game_features/cv4.png"/>
                        </div>
                        <div class="yy_zj_text">
                            <h3>CV：丰崎爱生<em></em></h3>
                            <p>声音甜美可爱，属于典型的萌妹子音</p>
                        </div>
                    </div>
                    <div class="yy_zj">
                        <div class="yy_zj_con">
                            <img src="../../public/images/game_features/cv5.png"/>
                        </div>
                        <div class="yy_zj_text">
                            <h3>CV：保志总一朗<em></em></h3>
                            <p>声线清澈爽朗，语调明亮有朝气，语气充满跳跃感</p>
                        </div>
                    </div>
                    <div class="yy_zj">
                        <div class="yy_zj_con">
                            <img src="../../public/images/game_features/cv6.png"/>
                        </div>
                        <div class="yy_zj_text">
                            <h3>CV：桑岛法子<em></em></h3>
                            <p>满跳跃感
                                式神
                                CV：桑岛法子
                                声音极具魅力，与角色能完美的融合。</p>
                        </div>
                    </div>
                </div>
                <div class="yy_shishen_tit">
                    <span class="yy_shishen_span1"></span>
                    <ul class="shishem_tit_ul yy_ul">
                        <li class="shishem_tit_show" onMouseOver="yyshow(1)"></li>
                        <li onMouseOver="yyshow(2)"></li>
                        <li onMouseOver="yyshow(3)"></li>
                    </ul>
                    <span class="yy_shishen_span2"></span>
                </div>
            </div>
        </div>
        <div class="yinyue_2" style="display: none">
            <div class="shenyou_left">
                <span class="shenyou_bg"></span>
                <a class="shenyou_a" href="javascript:void(0);">
                    <em class="em_big"></em>
                    <span class="sp_big"></span>
                </a>
            </div>
            <div class="shenyou_right"></div>
        </div>
        <div class="yinyue_3" style="display: none">
            <div class="peiyue_left">
                <div class="peiyue_img"></div>
                <div class="peiyue_text">
                    <h3>梅林茂大师——<em></em></h3>
                    <p class="mml">梅林茂（うめばやししげる），亚洲影坛知名配乐家。电影《阴阳师》原版配乐师。</p>
                    <p>梅林茂于1985年开始投身电影配乐的工作，为电影《从那时起》和《朋友，安静地睡吧》创作曲目，并在国内多个电影节中获奖。二十多年来，梅林茂负责配乐的港日电影超过三十部，包括森田芳光的《其后》、王家卫的《花样年华》《2046》、黎妙雪的《恋之风景》及张之亮的《慌心假期》，并以《慌》一片获台湾金马奖最佳原创音乐。在为王家卫完成《花样年华》的电影音乐后，梅林茂在国际上得到更大的肯定，其后陆续为《周渔的火车》和张艺谋的《十面埋伏》和《满城尽带黄金甲》作曲。有人评价他的电影音乐真正达到了音乐与电影合一的境界，有着震撼人心的感染力。</p>
                </div>
            </div>
            <div class="peiyue_right"></div>
        </div>
    </div>
    <div class="five_body">
        <h2></h2>
        <div class="wanfa_title">
            <span class="span_wanfa"></span>
            <span class="span_tansuo"></span>
            <span class="span_zhinan"></span>
        </div>
        <div class="wanfa_1">
            <div class="wf_1">
                <div class="wf_1_btn1">
                    <div class="wf_1_btn btn1">弹幕<em></em></div>
                    <div class="wf_1_btn btn2">百鬼夜行<em></em></div>
                    <div class="wf_1_btn btn3 wf_btm_show">LBS<em class="wf_em_show"></em></div>
                </div>
                <div class="wf_1_btn2">
                    <div class="wf_1_content"></div>
                    <p class="wf_1_p">引入真实地理定位，建造近在咫尺的结界和家族神社</p>
                </div>
                <div class="wf_1_btn3">
                    <div class="wf_1_btn btn4">斗技<em></em></div>
                    <div class="wf_1_btn btn5">式神收集<em></em></div>
                    <div class="wf_1_btn btn6">探索副本<em></em></div>
                </div>
            </div>
        </div>
        <div class="wanfa_2 wf_2" style="display: none">
            <div class="fb_left"></div>
            <div class="fb_content">
                <div class="fb_map">
                    <a class="didian1" href="javascript:void(0);">
                            <span class="dd_name">
                                <span>式神碎片副本</span>
                                <em class="fb_em1"></em>
                                <em class="fb_em2"></em>
                            </span>
                        <span class="dd_flag"></span>
                        <p>有一定几率通过挑战副本发现，挑战成功可获得对应式神的契约书碎片</p>
                    </a>
                    <a class="didian2" href="javascript:void(0);">
                            <span class="dd_name">
                                <span>觉醒材料副本</span>
                                <em class="fb_em1"></em>
                                <em class="fb_em2"></em>
                            </span>
                        <span class="dd_flag"></span>
                        <p>获取式神觉醒所需的各种材料，各层难度不同，对应不同级别的觉醒材料</p>
                    </a>
                    <a class="didian3" href="javascript:void(0);">
                            <span class="dd_name">
                                <span>御魂副本</span>
                                <em class="fb_em1"></em>
                                <em class="fb_em2"></em>
                            </span>
                        <span class="dd_flag"></span>
                        <p>获取御魂，可装备在式神身上提升其能力，也可用来升级阴阳师守护灵或者强化其他御魂。各层难度不同，对应不同星级的御魂</p>
                    </a>
                    <a class="didian4" href="javascript:void(0);">
                            <span class="dd_name">
                                <span>挑战副本</span>
                                <em class="fb_em1"></em>
                                <em class="fb_em2"></em>
                            </span>
                        <span class="dd_flag"></span>
                        <p>通过探索副本发现式神首领可进入挑战副本，胜利后可以获得该式神的碎片。挑战副本的挑战难度随着挑战次数而递增，战胜挑战副本后有几率发现式神碎片副本</p>
                    </a>
                    <a class="didian5" href="javascript:void(0);">
                            <span class="dd_name">
                                <span>探索副本</span>
                                <em class="fb_em1"></em>
                                <em class="fb_em2"></em>
                            </span>
                        <span class="dd_flag"></span>
                        <p>随着剧情推进而逐渐开放的基础副本，有普通和困难两种难度选择。在关卡中任意挑战式神小怪，胜利可获得奖励且有概率刷出关卡BOSS</p>
                    </a>
                    <a class="didian6" href="javascript:void(0);">
                            <span class="dd_name">
                                <span>结界突破副本</span>
                                <em class="fb_em1"></em>
                                <em class="fb_em2"></em>
                            </span>
                        <span class="dd_flag"></span>
                        <p>挑战其他阴阳师的结界，挑战成功可获得金币和勋章奖励。</p>
                    </a>
                </div>
            </div>
            <div class="fb_right"></div>
        </div>
        <div style="display: none" class="wanfa_3">
            <div class="xinshou">
                <div class="xs_box">
                    <a class="xs_btn1"></a>
                    <a class="xs_btn2"></a>
                    <a class="xs_btn3 xs_btn_show"></a>
                    <a class="xs_btn4"></a>
                    <a class="xs_btn5"></a>
                    <a class="xs_btn6"></a>
                    <a class="xs_btn7"></a>
                    <a class="xs_btn8 xs_btn_show"></a>
                    <a class="xs_btn9 xs_btn_show"></a>
                    <a class="xs_btn10 xs_btn_show"></a>
                    <a class="xs_btn11 xs_btn_show"></a>
                    <a class="xs_btn12 xs_btn_show"></a>
                    <a class="xs_btn13"></a>
                    <a class="xs_btn14"></a>
                    <a class="xs_btn15"></a>
                </div>
                <div class="xs_box_pic" style="display: none">
                    <span></span>
                    <h3></h3>
                    <img src="../../public/images/game_features/1.jpg" />
                    <p>展示你所拥有的式神，可以对自己中意的式神进行强化、升级、升星</p>
                    <p>阴阳师掌握的技能</p>
                    <p>你的好友和聊天记录，可以和在线好友互赠友情点</p>
                    <p>目前已达成的成就</p>
                    <p>购买你需要的物品，可以使用“友情点”、“金币”、“勾玉”、“荣誉积分”和“勋章”等进行兑换购买</p>
                    <p>加入阴阳寮，还可以创建自己的结界</p>
                    <p>与其他玩家组成队伍一起刷副本</p>
                    <p>收集图鉴上的式神，可以获得额外奖励</p>
                    <p>进入“町中”后，可以通过“百鬼夜行”收集式神碎片、进行家族战和即时PVP斗技</p>
                    <p>画出符咒或者语音进行召唤，随机召唤出新的式神</p>
                    <p>点击进入副本界面，可以挑战首领、收集御魂和觉醒材料、进行结界突破等</p>
                    <p>当前玩家ID，等级，经验值和头像。点击头像可以打开“设置”，修改自己头像，设置游戏声音等</p>
                    <p>当前拥有金币数量</p>
                    <p>当前拥有勾玉数量</p>
                    <p>当前拥有体力值</p>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>


<script src="../../public/js/jquery-1.12.4.min.js"></script>
<script src="../../public/js/gamefeatures.js"></script>
</body>
</html>