<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>《阴阳师》手游式神录_式神攻略_御魂搭配攻略_觉醒材料_在哪里刷_式神阵容搭配_《阴阳师》手游官网</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="../../public/images/login.jpg"/>
    <link href="../../public/css/index.css" rel="stylesheet" type="text/css">
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--最上方头部-->
    <div class="wy_top">
        <a class="top_logo" href="javascript:void(0);"> </a>
        <div class="wy_top_content">
            <a href="javascript:void(0);">登陆注册</a>
            <a href="javascript:void(0);">安卓充值</a>
            <a href="javascript:void(0);" id="allGames" style="color: rgb(188,46,46);">网易游戏全目录 <span class="caret"></span> </a>
            <div class="wy_top_exchange">
                <div id="in_exchange">
                    <a class="exchange_up" id="in_exchange1" href="javascript:void(0);">领取游戏宝箱</a>
                    <a class="exchange_down" id="in_exchange2" href="javascript:void(0);">充值打9.8折</a>
                    <a class="exchange_up" id="in_exchange3" href="javascript:void(0);">领取游戏宝箱</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wy_down_content" id="wy_down_content" style="height:0;display: none;z-index: 10;">
        <div class="computerGame">
            <div class="wy_down_head">客户端游戏</div>
            <div class="wy_down_body">
                <p class="wy_down_content_p">角色扮演</p>
                <ul class="wy_down_content_ul">
                    <li class="first_game"><a href="javascript:;">梦幻西游电脑版</a></li>
                    <li class="hot_game"><a href="javascript:;">大话2经典版</a></li>
                    <li><a href="javascript:;">大话2免费版</a></li>
                    <li><a href="javascript:;">新大话3经典版</a></li>
                    <li><a href="javascript:;">新大话3免费版</a></li>
                    <li><a href="javascript:;">大唐无双零</a></li>
                    <li><a href="javascript:;">武魂2</a></li>
                    <li><a href="javascript:;">斩魂</a></li>
                    <li><a href="javascript:;">魔兽世界</a></li>
                </ul>
                <ul class="wy_down_content_ul">
                    <li class="hot_game"><a href="javascript:;">天下3</a></li>
                    <li class="new_game"><a href="javascript:;">天谕</a></li>
                    <li class="new_game"><a href="javascript:;">西楚霸王</a></li>
                    <li class="new_game"><a href="javascript:;">新倩女幽魂</a></li>
                    <li><a href="javascript:;">镇魔曲</a></li>
                    <li><a href="javascript:;">龙魂时刻</a></li>
                    <li><a href="javascript:;">精灵传说</a></li>
                    <li><a href="javascript:;">新飞飞</a></li>
                    <li><a href="javascript:;">暗黑破坏神3</a></li>
                </ul>
                <p class="wy_down_content_p">竞技/休闲</p>
                <ul class="wy_down_content_ul">
                    <li class="new_game"><a href="javascript:;">守望先锋</a></li>
                    <li class="new_game"><a href="javascript:;">夺宝联盟</a></li>
                    <li class="new_game"><a href="javascript:;">战意</a></li>
                    <li><a href="javascript:;">风暴英雄</a></li>
                    <li><a href="javascript:;">英雄三国</a></li>
                </ul>
                <ul class="wy_down_content_ul">
                    <li class="new_game"><a href="javascript:;">突击英雄</a></li>
                    <li class="new_game"><a href="javascript:;">无尽战区</a></li>
                    <li class="new_game"><a href="javascript:;">秘境对决</a></li>
                    <li><a href="javascript:;">星际争霸Ⅱ</a></li>
                    <li><a href="javascript:;">炉石传说</a></li>
                </ul>
            </div>
        </div>
        <div class="phoneGame" id="phoneGame">
            <div class="wy_down_head">手机游戏</div>
            <div class="wy_down_body">
                <div class="phoneGame_left">
                    <p class="wy_down_content_p">热门游戏</p>
                    <ul class="wy_down_content_ul" style="width: 125px;">
                        <li class="hot_game" style="width: 125px;"><a href="javascript:;">梦幻西游手游</a></li>
                        <li class="hot_game" style="width: 125px;"><a href="javascript:;">大话西游手游</a></li>
                        <li class="hot_game" style="width: 125px;"><a href="javascript:;">倩女幽魂手游</a></li>
                        <li class="hot_game" style="width: 125px;"><a href="javascript:;">阴阳师</a></li>
                        <li class="hot_game" style="width: 125px;"><a href="javascript:;">率土之滨</a></li>
                        <li class="hot_game" style="width: 125px;"><a href="javascript:;">Raven：掠夺者</a></li>
                        <li class="hot_game" style="width: 125px;"><a href="javascript:;">大唐无双手游</a></li>
                        <li class="hot_game" style="width: 125px;"><a href="javascript:;">乱斗西游2</a></li>
                        <li class="hot_game" style="width: 125px;"><a href="javascript:;">梦幻西游无双版</a></li>
                        <li><a href="javascript:;">功夫熊猫3手游</a></li>
                        <li><a href="javascript:;">西游神魔决</a></li>
                        <li><a href="javascript:;">时空之刃</a></li>
                        <li><a href="javascript:;">梦想星城</a></li>
                        <li><a href="javascript:;">乖离性百万亚瑟王</a></li>
                        <li><a href="javascript:;">百将行</a></li>
                    </ul>
                </div>
                <div class="phoneGame_right">
                    <p class="wy_down_content_p">新品推荐</p>
                    <ul class="wy_down_content_ul">
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">天下手游</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">Minecraft我的世界</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">我守护的一切</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">终结者2官方手游</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">大话西游热血版</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">钢铁黎明</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">永远的7日之都</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">坦克世界闪击战</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">天启联盟</a></li>
                        <li><a href="javascript:;">大唐游仙记</a></li>
                        <li><a href="javascript:;">大航海之路</a></li>
                        <li><a href="javascript:;">魂之幻影</a></li>
                        <li><a href="javascript:;">楚留香</a></li>
                        <li><a href="javascript:;">功夫熊猫官方手游</a></li>
                        <li><a href="javascript:;">猫和老鼠官方手游</a></li>
                    </ul>
                    <ul class="wy_down_content_ul" style="width: 125px;">
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">镇魔曲手游</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">秘境对决</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">魔法禁书目录</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">三少爷的剑</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">迷雾世界</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">光明大陆</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">荆棘王座</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">重装突击</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">坦克连</a></li>
                        <li style="width: 125px;" class="new_game"><a href="javascript:;">天骄铁骑</a></li>
                        <li><a href="javascript:;">劲舞团</a></li>
                        <li><a href="javascript:;">永恒文明</a></li>
                        <li><a href="javascript:;">貂蝉的移动城堡</a></li>
                        <li><a href="javascript:;">小时代官方游戏</a></li>
                        <li><a href="javascript:;">妖刀少女异闻录</a></li>
                    </ul>
                    <ul class="wy_down_content_ul" style="width: 82px;margin-left: 2px;">
                        <li><a href="javascript:;">曙光先锋</a></li>
                        <li><a href="javascript:;">我朝有马</a></li>
                        <li><a href="javascript:;">大富翁9</a></li>
                        <li><a href="javascript:;">无限战争</a></li>
                        <li><a href="javascript:;">陆小凤传奇</a></li>
                        <li><a href="javascript:;">狩猎纪元</a></li>
                        <li><a href="javascript:;">秘宝猎人</a></li>
                        <li><a href="javascript:;">格罗亚传奇</a></li>
                        <li><a href="javascript:;">无限幻斗</a></li>
                        <li><a href="javascript:;">黑暗启元</a></li>
                        <li><a href="javascript:;">小李飞刀</a></li>
                        <li><a href="javascript:;">飞刀又见飞刀</a></li>
                        <li><a href="javascript:;">伏魔咒</a></li>
                        <li><a href="javascript:;">天下HD</a></li>
                        <li><a href="javascript:;">天下X天下</a></li>
                    </ul>
                    <ul class="wy_down_content_ul" id="hidden_ul1" style="width: 82px;opacity: 0;">
                        <li><a href="javascript:;">异次元战姬</a></li>
                        <li><a href="javascript:;">永恒边境</a></li>
                        <li><a href="javascript:;">元气战姬学院</a></li>
                        <li><a href="javascript:;">无尽神域</a></li>
                        <li><a href="javascript:;">勇士x勇士</a></li>
                        <li><a href="javascript:;">城堡风暴</a></li>
                        <li><a href="javascript:;">斩魂手游版</a></li>
                        <li><a href="javascript:;">热血办公室</a></li>
                        <li><a href="javascript:;">星际总动员</a></li>
                        <li><a href="javascript:;">魔天记</a></li>
                        <li><a href="javascript:;">末日孤舰</a></li>
                        <li><a href="javascript:;">雨血：影之刃</a></li>
                        <li><a href="javascript:;">弹弹猴</a></li>
                        <li><a href="javascript:;">圣灵觉醒</a></li>
                        <li><a href="javascript:;">命运起源</a></li>
                    </ul>
                    <ul class="wy_down_content_ul" id="hidden_ul2" style="width: 82px;opacity: 0;">
                        <li><a href="javascript:;">蛋糕物语</a></li>
                        <li><a href="javascript:;">皇牌机娘</a></li>
                        <li><a href="javascript:;">忍者必须死2</a></li>
                        <li><a href="javascript:;">童话大冒险</a></li>
                        <li><a href="javascript:;">暴走骑士团</a></li>
                        <li><a href="javascript:;">倩女幽魂录</a></li>
                        <li><a href="javascript:;">契约兵团</a></li>
                        <li><a href="javascript:;">神魔劫</a></li>
                        <li><a href="javascript:;">火拼萌萌消</a></li>
                        <li><a href="javascript:;">超能动物联盟</a></li>
                        <li><a href="javascript:;">将临天下</a></li>
                        <li><a href="javascript:;">魔塔学院</a></li>
                        <li><a href="javascript:;">蘑菇战争</a></li>
                        <li><a href="javascript:;">魔霸风暴</a></li>
                        <li><a href="javascript:;">绝代双骄</a></li>
                    </ul>
                    <ul class="wy_down_content_ul" id="hidden_ul3" style="width: 82px;opacity: 0;">
                        <li><a href="javascript:;">口袋侏罗纪</a></li>
                        <li><a href="javascript:;">萌王EX</a></li>
                        <li><a href="javascript:;">千岛物语</a></li>
                        <li><a href="javascript:;">迷你西游</a></li>
                        <li><a href="javascript:;">来自星星的你</a></li>
                        <li><a href="javascript:;">主公莫慌</a></li>
                        <li><a href="javascript:;">烽火王师</a></li>
                        <li><a href="javascript:;">花语月</a></li>
                        <li><a href="javascript:;">惊梦</a></li>
                        <li><a href="javascript:;">十万个女妖精</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gameHelp">
            <div class="wy_down_head">客户端游戏</div>
            <div class="wy_down_body">
                <p class="wy_down_content_p">游戏辅助</p>
                <ul class="wy_down_content_ul">
                    <li class="hot_game"><a href="javascript:;">游品位</a></li>
                    <li class="hot_game"><a href="javascript:;">网易MuMu</a></li>
                    <li><a href="javascript:;">网易游戏印象</a></li>
                    <li><a href="javascript:;">网易游戏平台</a></li>
                    <li class="new_game"><a href="javascript:;">游戏论坛app</a></li>
                    <li><a href="javascript:;">手机将军令</a></li>
                    <li><a href="javascript:;">将军令</a></li>
                    <li><a href="javascript:;">游戏知道</a></li>
                    <li><a href="javascript:;">藏宝阁</a></li>
                    <li><a href="javascript:;">网易CC</a></li>
                    <li><a href="javascript:;">客服中心</a></li>
                    <li><a href="javascript:;">自助百宝箱</a></li>
                    <li><a href="javascript:;">自助百宝箱</a></li>
                    <li><a href="javascript:;">网易UU加速器</a></li>
                    <li><a href="javascript:;" style="color:#bc3030;text-indent: 25px;line-height: 18px;margin: 5px 0;font-size:12px;height:18px;background: url('../../public/images/index/sprite-w_7fc7459.png');background-position: 0 -338px;">网易游戏</a></li>
                </ul>
            </div>
            <a id="moreGame" href="javascript:;">更多热门手游</a>
        </div>
    </div>

    <!--主体部分-->
    <div class="main">
        <div class="top_nav" id="top_nav">
            <div class="top_nav_erweima">
                <p class="top_nav_p">扫码下载</p>
                <img src="../../public/images/index/qr" style="width: 74px;height: 74px;" />
                <a href="javascript:;" class="top_nav_erweima_a">
                    <span class="top_nav_logo"></span>
                    <h3 class="gameName">阴阳师</h3>
                    <p class="top_nav_erweima_a_p">网易和风匠心巨制</p>
                </a>
            </div>
            <ul class="top_nav_ul">
                <li><a href="javascript:;">官网首页</a><span class="line"></span></li>
                <li><a href="javascript:;">新闻资讯</a><span class="line"></span></li>
                <li><a href="javascript:;">游戏攻略</a><span class="line"></span></li>
                <li><a href="javascript:;">游戏特色</a><span class="line"></span></li>
                <li>
                    <a href="javascript:;" id="cosZone">同人专区<em class="arrow"></em></a><span class="line"></span>
                </li>
                <li>
                    <a href="javascript:;" id="offWay">官网渠道<em class="arrow"></em></a>
                </li>
            </ul>

            <div class="top_nav_down" id="top_nav_down">
                <div id="cosDown">
                    <a class="tongren" href="javascript:;">
                        <span class="picdiv">
                            <span class="tongren_pic"></span>
                            <span class="tongren_font">同人COS</span>
                        </span>
                    </a>
                    <a class="tongren noborder" href="javascript:;">
                        <span class="picdiv">
                            <span class="tongren_pic" style="width: 71px;height: 70px;background-position: -1167px -828px;"></span>
                            <span class="tongren_font">同人绘画</span>
                        </span>
                    </a>
                </div>


                <div id="offDown">
                    <div class="qqGourp">
                        <ul style="display: block;margin-bottom: 10px;">
                            <li class="qq">204422345（1群）</li>
                            <li class="qq">586180977（6群）</li>
                            <li class="qq">540687051（2群）</li>
                            <li class="qq">477094979（7群）</li>
                            <li class="qq">546653739（3群）</li>
                            <li class="qq">239033695（8群）</li>
                            <li class="qq">546027375（4群）</li>
                            <li class="qq">478814406（9群）</li>
                            <li class="qq">344590267（5群）</li>
                            <li class="qq">478027123（10群）</li>
                        </ul>
                        <p>官方QQ群</p>
                    </div>
                    <div class="offWay_content">
                        <img src="../../public/images/index/wx_d99aea4.jpg" />
                        <p>官方微信</p>
                    </div>
                    <a href="javascript:;" class="offWay_content">
                        <img src="../../public/images/index/wb_2cdebbf.png" />
                        <p>官方微博</p>
                    </a>
                    <a class="tongren" href="javascript:;">
                        <span class="picdiv">
                            <span class="tongren_pic" style="background-position: -1238px -828px;"></span>
                            <span class="tongren_font">百度贴吧</span>
                        </span>
                    </a>
                    <a class="tongren noborder" href="javascript:;">
                        <span class="picdiv">
                            <span class="tongren_pic" style="width: 80px;height: 70px;background-position: -1087px -828px;"></span>
                            <span class="tongren_font">官方论坛</span>
                        </span>
                    </a>
                </div>
            </div>

        </div>
        <div class="main_banner">
            <div class="role_div">
                <div class="con">
                    <div class="con_slide">
                        <span class="role_1" style="margin-top: 44px;">
                            <img src="../../public/images/index/role1_08df229.png">
                        </span>
                        <span class="role_2" style="margin-top: 37px;">
                            <img src="../../public/images/index/role2_2b77a63.png">
                        </span>
                    </div>
                    <div class="con_slide">
                        <span class="role_3" style="margin-top: -2px;">
                            <img src="../../public/images/index/role3_f2a6922.png">
                        </span>
                        <span class="role_4"  style="margin-top: 80px;">
                            <img src="../../public/images/index/role4_01edf90.png">
                        </span>
                    </div>
                    <a href="javascript:;" class="role_next" onclick="active()"></a>
                </div>
            </div>
            <a href="javascript:;" class="gameLogo_Name gameLogo_Name_left"><span></span></a>
            <a href="javascript:;" class="shantu"><img src="../../public/images/index/bunny_cc1e937.gif" style="width: 102px;" /></a>
        </div>
        <div class="download">
            <div class="download_div">
                <div class="download_open">
                    <a href="javascript:;" class="closer_botten"></a>
                    <span class="download_text"></span>
                    <div class="download_erweima">
                        <img src="../../public/images/index/line_f7b07c8.png" class="doline">
                        <img src="../../public/images/index/qr" style="width: 100%;bottom: 0" />
                    </div>
                    <div class="download_way">
                        <a class="ios_download" target="_blank" href="javascript:;"></a>
                        <a class="android_download" target="_blank" href="javascript:;"></a>
                    </div>
                </div>
                <div class="download_close" style="display: none;">
                    <a class="download_close_a" href="javascript:void(0);"></a>
                </div>
            </div>
        </div>
        <div class="gameDate">

        </div>








    </div>









    <div class="server_area toSmall">
        <div class="area_bg">
            <a href="javascript:;" class="xXxX"></a>
            <div class="all_area">
                <div class="ios_areas">
                    <h3 class="area_title">
                        <p class="all_name">中国区-ios</p>
                        <em class="all_name_fang"></em>
                    </h3>
                    <ul class="area_list">
                        <li class="area_list_li">
                            <em class="new"></em>
                            <i class="icon"></i>
                            <span class="server_name">桂之馥</span>
                        </li>
                        <li class="area_list_li">
                            <em class="new"></em>
                            <i class="icon" style="background-position:0px -1102px; "></i>
                            <span class="server_name">莲之净</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-80px -1102px;"></i>
                            <span class="server_name">雀之羽</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-640px -1182px;"></i>
                            <span class="server_name">春之樱</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-560px -1182px;"></i>
                            <span class="server_name">夏之蝉</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-480px -1182px;"></i>
                            <span class="server_name">夜之月</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-400px -1182px;"></i>
                            <span class="server_name">竹之幽</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-320px -1182px;"></i>
                            <span class="server_name">松之苍</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-160px -1182px;"></i>
                            <span class="server_name">兰之雅</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-160px -1102px"></i>
                            <span class="server_name">云之遏</span>
                        </li>
                    </ul>
                </div>
                <div class="ios_areas">
                    <h3 class="area_title">
                        <p class="all_name">网易-双平台</p>
                        <em class="all_name_fang"></em>
                    </h3>
                    <ul class="area_list">
                        <li class="area_list_li">
                            <em class="new"></em>
                            <i class="icon"  style="background-position: -160px -1262px;"></i>
                            <span class="server_name">春樱共赏</span>
                        </li>
                        <li class="area_list_li">
                            <em class="new"></em>
                            <i class="icon" style="background-position:0px -1262px; "></i>
                            <span class="server_name">两情相悦</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-1200px -1182px;"></i>
                            <span class="server_name">风雨同行</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-320px -1102px;"></i>
                            <span class="server_name">孤高之心</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-560px -1262px;"></i>
                            <span class="server_name">遥远之忆</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-1040px -1182px;"></i>
                            <span class="server_name">永生之谜</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:0px -1182px;"></i>
                            <span class="server_name">缥缈之旅</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-1200px -1102px;"></i>
                            <span class="server_name">结伴同游</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-720px -1182px;"></i>
                            <span class="server_name">相伴相随</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-1120px -1102px;"></i>
                            <span class="server_name">情比金坚</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-1040px -1102px;"></i>
                            <span class="server_name">形影不离</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-960px -1102px;"></i>
                            <span class="server_name">同心一意</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-1120px -1182px;"></i>
                            <span class="server_name">相知相依</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-560px -1102px"></i>
                            <span class="server_name">心意相通</span>
                        </li>
                    </ul>
                </div>
                <div class="ios_areas">
                    <h3 class="area_title">
                        <p class="all_name">中国-安卓联运</p>
                        <em class="all_name_fang"></em>
                    </h3>
                    <ul class="area_list">
                        <li class="area_list_li">
                            <em class="new"></em>
                            <i class="icon" style="background-position:-480px -1262px;"></i>
                            <span class="server_name">樱之华</span>
                        </li>
                        <li class="area_list_li">
                            <em class="new"></em>
                            <i class="icon" style="background-position:-240px -1262px; "></i>
                            <span class="server_name">菊之逸</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-880px -1182px;"></i>
                            <span class="server_name">桃之华</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-800px -1182px;"></i>
                            <span class="server_name">雀之灵 </span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-880px -1102px;"></i>
                            <span class="server_name">秋之枫</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-800px -1102px;"></i>
                            <span class="server_name">冬之雪</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-720px -1102px;"></i>
                            <span class="server_name">暮之霞</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-640px -1102px;"></i>
                            <span class="server_name">梅之寒</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-80px -1182px;"></i>
                            <span class="server_name">风之清</span>
                        </li>
                        <li class="area_list_li">
                            <em class="hot"></em>
                            <i class="icon" style="background-position:-240px -1182px;"></i>
                            <span class="server_name">雨之霁</span>
                        </li>
                    </ul>
                </div>
                <div class="other_area">
                    <div class="lianyun_areas">
                        <h3 class="area_title">
                            <p class="all_name">联运-双平台</p>
                            <em class="all_name_fang"></em>
                        </h3>
                        <ul class="area_list lianyun" style="margin-bottom: 0" >
                            <li class="area_list_li">
                                <em class="new"></em>
                                <i class="icon" style="background-position:-960px -1182px;"></i>
                                <span class="server_name">情深谊长</span>
                            </li>
                            <li class="area_list_li">
                                <em class="new"></em>
                                <i class="icon" style="background-position:-480px -1102px;"></i>
                                <span class="server_name">两心无间</span>
                            </li>
                            <li class="area_list_li">
                                <em class="hot"></em>
                                <i class="icon" style="background-position:-240px -1102px;"></i>
                                <span class="server_name">亲密无间</span>
                            </li>
                        </ul>
                    </div>
                    <div class="lianyun_areas">
                        <h3 class="area_title" style="margin-top: 0">
                            <p class="all_name" style="text-indent: 20px;border: 0;">国际区</p>
                            <em class="all_name_fang" style="bottom: 13px;"></em>
                        </h3>
                        <ul class="area_list guoji">
                            <li class="area_list_li">
                                <em class="new"></em>
                                <i class="icon" style="background-position:-400px -1262px;"></i>
                                <span class="server_name">亚洲区</span>
                            </li>
                            <li class="area_list_li">
                                <em class="hot"></em>
                                <i class="icon" style="background-position:-320px -1262px;"></i>
                                <span class="server_name">海外加速区</span>
                            </li>
                            <li class="area_list_li">
                                <em class="new"></em>
                                <i class="icon" style="background-position:-400px -1102px;"></i>
                                <span class="server_name">日本区</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <h3 class="pop_title"></h3>
                <div class="area_erweima"></div>
                <a href="javascript:;" class="announce">公平运营申明</a>
            </div>
        </div>
    </div>
    <script src="../../public/js/jquery-1.12.4.min.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
    <script src="../../public/js/index.js"></script>
</body>
</html>